# **Pertemuan 2**

1. Syntaks (Kodingan) Dasar Python

Semua yang bisa dieksekusi oleh python disebut **Statement**.

In [6]:
print("ini merupakan statement dalam bahasa python")

ini merupakan statement dalam bahasa python

2. Komentar dalam Python
Tanda **pagar (#)** digunakan sebagai komentar, atau catatan yang tidak terbaca program.

In [13]:
#apapun yang ditulis disini
#pasti tidak akan terbaca oleh program

3. Tanda Kutip di Python
Python menggunakan **tanda kutip tunggal ('), ganda ("), maupun triple ("' atau """) untuk menandai string, sepanjang stringnya diawali oleh tanda kutip yang sama di awal dan akhir string**. Tanda kutip tiga digunakan untuk string multibaris. Ketiga contoh berikut, semuanya adalah benar.

In [12]:
kata = "kata"
kalimat = "Ini adalah kalimat"
paragraf = """ Ini adalah paragraf terdiri dari beberapa baris """

print(paragraf)

 Ini adalah paragraf terdiri dari beberapa baris

# Variabel dan Tipe Data

**Variabel** merupakan nilai yang bisa berubah-ubah

**Tipe Data** merupakan nilai yang sifatnya tetap / konstanta

In [20]:
#Nama Variabel = Nilai Variabel
nama_variabel = 10;
print(nama_variabel)

10

## Macam - Macam Tipe Data

In [24]:
# String = Tipe data yang menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit tanda " atau ')
'Ini juga String'

'Ini juga String'

In [28]:
# Integer (int) = Tipe data yang menyatakan angka berupa bilangan bulat, 1,2,3,4,5,6,7,8,9,0
23092021

23092021

In [29]:
# Float = Tipe data yang menyatakan angka berupa bilangan desimal, seperti: 1.0, 2.0, 3.0, 3.14
3.14

3.14

In [33]:
# Boolean = Tipe data yang menyatakan kondisi benar (True) atau salah (False)
manusia = True
print("Apakah kamu manusia?")
manusia

Apakah kamu manusia?

True

In [35]:
# List = Tipe data yang bisa menyimpan berbagai tipe data didalamnya
daftar = ["String",10,3.14, True]
daftar

['String', 10, 3.14, True]

In [38]:
# Tuple = Sama seperti list, tapi isinya tidak bisa diubah
tupel = ("String",10,3.14, False)
tupel

('String', 10, 3.14, False)

In [42]:
# Dictionary = Tipe data yang menyatakan definisi
kamus = {'huruf': "String", 'angka':101, 'phi':3.14}
kamus

{'angka': 101, 'huruf': 'String', 'phi': 3.14}

# Input (Masukkan) dan Output (Keluaran)



*   Input

In [55]:
# input berfungsi membaca data dari apa yang kita ketikkan dari keyboard sebagai string
input("masukkan kalimat disini: ")
# apabila kita ingin input yang hanya berupa angka, tinggal tambahkan tipe data int
# int(input("masukkan angka disini: "))

masukkan kalimat disini: hasil inputan

'hasil inputan'



*   output

In [59]:
# dalam python ini, untuk menampilkan sesuatu kita hanya tulis syntaksnya sesuai tipe data atau cukup tambahkan print
"ini akan langsung tampil"
# print()

'ini akan langsung tampil'

# Membuat kodingan sederhana

In [69]:
nim = input("Masukkan NIM Anda: ")
nama = input("Masukkan Nama Anda: ")
jur = input("Masukkan Jurusan Anda: ")
almt = input("Masukkan Alamat Anda: ")
print("====================================\n"
"Hai, "+nama+"["+nim+"] \n"
+"Asal kamu dari "+almt+"\n"
+ "Selamat kuliah di jurusan "+jur+". \n"
)

Masukkan NIM Anda: 1111
Masukkan Nama Anda: dddd
Masukkan Jurusan Anda: dddd
Masukkan Alamat Anda: ffff
====================================
Hai, dddd[1111]
Asal kamu dari ffff
Selamat kuliah di jurusan dddd.